.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@keyframes ankon {
    0% {
        transform: translate3d(-50px,-40px,-1000px);
    }
    60% {
        transform: translate3d(-10px,-250px,-200px);
    }
    100% {
        transform: translate3d(0px,50px,0px);
    }
}
